@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}
body{
    background-color:#000;
    font-family: 'digital-7';
    margin: 0;
    padding: 0;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
}
.clock-wrapper {
     height: 100vh;
     width: 98vw;
     align-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.clock {
    color:#2EFE2E;
    font-size: 48vw;
    font-weight: bold;
    display: flex;
}
.digit {
    width: 22vw;
    text-align: right;
}
.clock > .pulse.black {
    color: black;
}

#battery {
    width: 2vw;
    height: 100vh;
    border-radius: unset;
}
.progress {
    background-color: #000;
}
.progress > .progress-bar {
    height: 0vh;
}
.progress > .progress-bar {
    background-color: #000;
}
.progress > .progress-bar.charging { 
    background: repeating-linear-gradient( 
        45deg, 
        #ffffff7F, 
        #0000007F 
        5vw); 
} 
.progress > .progress-bar.more-than-75 {
    background-color: #2EFE2E;
}
.progress > .progress-bar.between-75-50 {
    background-color:yellow;
}
.progress > .progress-bar.between-50-75 {
    background-color: orange;
}
.progress > .progress-bar.less-than-25 {
    background-color: red;
}
