body{
    font-family: 'Quantico', sans-serif;
    background-color: black;
}
.clock-wrapper {
    height: 95vh;
}
.clock {
    color:#2EFE2E;
    font-size: 33vw;
}
.clock > .pulse.black {
    color: black;
}

#battery {
    width: 100vw;
    height: 2vh;
    border-radius: unset;
}
.progress {
    background-color: #000;
}
.progress > .progress-bar {
    width:0%;
}
.progress > .progress-bar {
    background-color: #000;
}
.progress > .progress-bar.charging { 
    background: repeating-linear-gradient( 
        45deg, 
        #ffffff7F, 
        #0000007F 
        5vw); 
} 
.progress > .progress-bar.more-than-75 {
    background-color: #2EFE2E;
}
.progress > .progress-bar.between-75-50 {
    background-color:yellow;
}
.progress > .progress-bar.between-50-75 {
    background-color: orange;
}
.progress > .progress-bar.less-than-25 {
    background-color: red;
}